
.InformationBox {
    margin: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 96%);
    padding: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-left: 6px solid;
}

.InformationBox span {
    font-family: "Rubik";
    color: #7f8c8d;
    font-weight: 400;
}

.InformationBox b {
    color: black;
}
