* {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
section {
    height: 100%;
}
header {
    font-size: 24px;
    font-weight: 500;
}

.textField {
    width: 90%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}